body {
    background-image: url('/img/back.png');
    background-repeat: repeat-y;
    background-size: cover;
    overflow: hidden;
}


.img-title {
    margin-top: 15vh;
   background: url(/img/logo.png); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 60vh;
    margin-left: auto;
    font-size: 16vw;
    margin-right: auto;
}

.screen{
    padding: 30px;
    text-align: center;
  
}
.screen a{
    margin: 1.5vw;
      color: #fff;
    font-family: monospace;
    text-decoration: none;
  
}